<div class="jumbotron <%= @api_color %>">
  <h1 class="display-4"><%= @final_output %></h1>
  <p class="lead">This is the current ozone air  quality readout for my neighborhood in Washington</p>
  <hr class="my-4">
  <p>Hit 'Reload' in your web browser to update the reading..</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
</div>

<br/>

