@import "bootstrap-sprockets";
@import "bootstrap";

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.maroon {
  background-color: maroon;
}

.orange {
  background-color: orange;
}

.gray { 
  background-color: gray;
}